/*
  部分公用参数
*/

//字体颜色
$c-font-alert : #77819c;//弹框字体色
$c-font-1 : #fff;//白色
$c-font-2 : #000;//黑色
$c-font-3 : #666;//灰色1
$c-font-4 : #666;//灰色2
$c-font-blue : #5e85f9;//蓝色
$c-font-green : #3aa000;//绿色
$c-font-5 : red;//红色  （常用错误提示）

//背景颜色
$c-back-item : #405067;
$c-back-shy : #2fb1be;
$c-back-header : #2a3342;
$c-back-left : #405067;
$c-back-link : #202833;
$c-back-toast : #bd3630;
$c-back-green : #3aa000;//绿色
$c-back-red : #bd3630;//红色
$c-back-lowred : #f15676;//浅红
$c-back-pink : #ed6b75;//粉红
$c-back-blue : #58c1f8; //蔚蓝
$c-back-gray : #bfbfbf;//深灰
$c-back-0 : #fff; //白色
$c-back-1 : #f6fafd; //浅灰
$c-back-2 : #ff8144;//黄色
$c-back-3 : #f05d4b;//橘红色
$c-back-4 : #2db7f5;

//边框颜色
$c-border-search : #b7c0cf;// 主题边色
$c-border-0 : #d8e0ed;// 主题边色
$c-border-1 : #ccc;// 浅灰
$c-border-2 : #666;//深灰
$c-border-3 : #aeaeae;//淡灰
$c-border-4 : #5e85f9;//蓝色  （常用错误提示）
$c-border-yellow : #ff8144;//黄色


//按钮圆角
$b-radius-0 : 50%;
$b-radius-3px : 3px;
$b-radius-5px : 5px;
$b-radius-8px : 8px;
$b-radius-10px : 10px;
